@import 'fonts';
@import 'harmonogram';
@import 'informacje';
@import 'galeria';
@import 'glowna';

$UEColor: #1256BB;

.bold {
	font-weight: bold;
}

#top-container {
	position: relative;
	background: white;

	#top-logotypy {
		display: block;
		margin: auto;
		width: 50%;
	}
	#top-title {
		display: inline-block;
		width: 100%;
		text-align: center;
		color: black;
		font-family: palanquin;
		font-size: large;
		font-weight: 550;

		#biger {
			font-size: 200%;
		}
	}
}

nav#desktop-nav {
	margin: 40px 0 40px 0;
	height: 90px;
	background: $UEColor;
	font-family: palanquin;
	font-size: large;
	font-weight: bold;
	text-align: center;

	ul{
		height: 100%;
		display: inline-flex;
		justify-content: center;
		align-items: flex-end;
		margin: auto;

		a {
			color: white;
			text-decoration: none;

			&:hover {
				color: $UEColor;
				text-decoration: none;
			}
		}
		li {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			height: 47px;
			width: 155px;
			color: white;
			margin: 0 2px;
			padding-top: 30px;
			
			&.active {
				height: 100%;
				background: white;
				color: $UEColor;
				line-height: 90px;
			}
			&:hover {
				padding-top:3px;
				background: white;
				color: $UEColor;
				align-items: flex-start;
			}
		}
	}	
}

.v-bottom {
	vertical-align: text-bottom;
}

$mobile-nav-height: 100px;
nav#mobile-nav {
	position: fixed;
	z-index: 100;
	//top: 0;
	margin:  0 0 40px 0;
	padding: 0;
	height: $mobile-nav-height;
	background: $UEColor;
	text-align: center;
	width: 100%;

	ul{
		width: 100%;
		height: 100%;
		display: inline-flex;
		justify-content: center;
		align-items: flex-end;
		margin: 0;

		a {
			display: inline-block;
			width: 23%;
			height: 100%;
			margin: 0;
			font-size: 8px;

			position: relative;
			top: -7px;
			
			color: white;
			text-decoration: none;

			&:hover {
				color: $UEColor;
				text-decoration: none;
			}
		}

		li {
			height: 100%;
		}
		
		li.active {
			background-color: white;
			color: $UEColor;
		}
	}
}

.nav-glyph {
	font-size: 40px;
}

#mobile-nav-spacer {
	width: 100%;
	height: $mobile-nav-height;
}

#mobile-nav-spacer-bottom {
	width: 100%;
	height: 15px;
	display: block;
	margin: 10px 0 10px 0;
	background: $UEColor;
}

footer {
	height: 50px;
	text-align: right;
	hr{
		border: 0;
		height: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
}
