@font-face {
  font-family: palanquin;
  src: url("../fonts/palanquin-semibold.ttf");
  font-weight: 600; }
.harmonogram {
  text-align: center; }

.table-container {
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
  text-align: center; }
  .table-container table {
    margin: 0 auto;
    width: fit-content; }
    .table-container table thead {
      background: #d1e2fb; }

.col-lead {
  width: 95px;
  border-right: 2px solid #ddd;
  background: #d1e2fb; }

.col-time {
  width: 300px; }

#table-time {
  width: fit-content; }

h1 {
  border-bottom: 2px solid currentColor;
  display: inline;
  line-height: 0.85;
  text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
  margin: 5px 5px; }
  h1:after {
    content: "\A";
    white-space: pre; }

p {
  margin-top: 40px; }

.bold {
  font-weight: bold; }

#intro {
  text-align: center;
  font-size: large; }
  #intro span {
    font-size: larger;
    font-weight: bold; }

#finances {
  text-align: center;
  font-size: larger; }

@media screen and (min-width: 768px) {
  #innopolis {
    float: right; } }

.galleryLink {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  text-align: center;
  color: black; }
  .galleryLink:hover {
    font-weight: bold;
    text-decoration: none; }
  .galleryLink:hover {
    border: 1px solid #777; }
  .galleryLink img {
    max-width: 165px;
    max-height: 180px;
    margin: 5px; }
  .galleryLink .galleryDesc {
    padding: 15px;
    text-align: center; }

.album-grid {
  margin: 0 auto;
  perspective: 1300px; }

.album-grid-item {
  margin: 5px;
  border: 1px black solid;
  transform-style: preserve-3d; }
  @media screen and (max-width: 767px) {
    .album-grid-item {
      max-width: 100%; } }
  @media screen and (max-width: 991px) {
    .album-grid-item {
      max-width: 25%; } }
  @media screen and (min-width: 1199px) {
    .album-grid-item {
      max-width: 220px; } }
  .album-grid-item .animate {
    transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    animation: fallPerspective .8s ease-in-out forwards; }

@keyframes fallPerspective {
  100% {
    transform: translateZ(0px) translateY(0px) rotateX(0deg);
    opacity: 1; } }
#grid-sizer {
  display: block;
  height: 1px; }
  @media screen and (max-width: 767px) {
    #grid-sizer {
      width: 100%; } }
  @media screen and (max-width: 991px) {
    #grid-sizer {
      width: 25%; } }
  @media screen and (min-width: 1199px) {
    #grid-sizer {
      width: 220px; } }

.row > .column {
  padding: 0 8px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.column {
  float: left;
  width: 25%; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black; }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px; }

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer; }

.mySlides {
  display: none; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white; }

img.demo {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

img.hover-shadow {
  transition: 0.3s; }

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#kontakt-sider {
  border-right: 1px solid black; }

article h2 {
  font-weight: 600; }
article .articleTitle {
  border-left: 4px solid #1256BB;
  padding-left: 5px; }
article h3 {
  font-size: large;
  font-weight: 600; }
article ul {
  list-style-type: square; }

.bold {
  font-weight: bold; }

#top-container {
  position: relative;
  background: white; }
  #top-container #top-logotypy {
    display: block;
    margin: auto;
    width: 80%; }
    @media screen and (max-width: 768px) {
      #top-container #top-logotypy {
        width: 100%; } }
  #top-container #top-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: black;
    font-family: palanquin;
    font-size: large;
    font-weight: 550; }
    #top-container #top-title #biger {
      font-size: 200%; }

nav#desktop-nav {
  margin: 40px 0 40px 0;
  height: 90px;
  background: #1256BB;
  font-family: palanquin;
  font-size: large;
  font-weight: bold;
  text-align: center; }
  nav#desktop-nav ul {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    margin: auto; }
    nav#desktop-nav ul a {
      color: white;
      text-decoration: none; }
      nav#desktop-nav ul a:hover {
        color: #1256BB;
        text-decoration: none; }
    nav#desktop-nav ul li {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 47px;
      width: 155px;
      color: white;
      margin: 0 2px;
      padding-top: 30px; }
      nav#desktop-nav ul li.active {
        height: 100%;
        background: white;
        color: #1256BB;
        line-height: 90px; }
      nav#desktop-nav ul li:hover {
        padding-top: 3px;
        background: white;
        color: #1256BB;
        align-items: flex-start; }

.v-bottom {
  vertical-align: text-bottom; }

nav#mobile-nav {
  position: fixed;
  z-index: 100;
  margin: 0 0 40px 0;
  padding: 0;
  height: 100px;
  background: #1256BB;
  text-align: center;
  width: 100%; }
  nav#mobile-nav ul {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0; }
    nav#mobile-nav ul a {
      display: inline-block;
      width: 23%;
      height: 100%;
      margin: 0;
      font-size: 8px;
      position: relative;
      top: -7px;
      color: white;
      text-decoration: none; }
      nav#mobile-nav ul a:hover {
        color: #1256BB;
        text-decoration: none; }
    nav#mobile-nav ul li {
      height: 100%; }
    nav#mobile-nav ul li.active {
      background-color: white;
      color: #1256BB; }

.nav-glyph {
  font-size: 40px; }

#mobile-nav-spacer {
  width: 100%;
  height: 100px; }

#mobile-nav-spacer-bottom {
  width: 100%;
  height: 15px;
  display: block;
  margin: 10px 0 10px 0;
  background: #1256BB; }

footer {
  height: 50px;
  text-align: right; }
  footer hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  footer .footer-left {
    display: block;
    max-width: 65%;
    float: left;
    text-align: left; }

/*# sourceMappingURL=custom.css.map */
