@import 'fonts';

$UEColor: #1256BB;

#top-container {
	position: relative;
	background: white;

	#top-logotypy {
		display: block;
		margin: auto;
		width: 50%;
	}
	#top-title {
		display: inline-block;
		width: 100%;
		text-align: center;
		color: black;
		font-family: palanquin;
		font-size: large;
		font-weight: 550;

		#biger {
			font-size: 200%;
		}
	}
}

nav {
	margin: 20px 0 20px 0;
	height: 90px;
	background: $UEColor;
	font-family: palanquin;
	font-size: large;
	font-weight: bold;
	text-align: center;

	ul{
		height: 100%;
		display: inline-block;
		margin: auto;

		li {
			display: inline-block;
			height: 100%;
			width: 155px;
			color: white;
			text-align: center;
			line-height: 90px;

			&:hover {
				background: white;
				color: $UEColor;
			}
		}
		a {
			color: white;
			text-decoration: none;

			&:hover {
				color: $UEColor;
				text-decoration: none;
			}
		}
	}	
}