$BR-tablet: 768px;
$BR-desktop: 992px;
$BR-large: 1200px;

h1 {
	border-bottom: 2px solid currentColor;
	display: inline;
	line-height: 0.85;
	text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;

	margin: 5px 5px;

	&:after {
		content: "\A";
		white-space: pre;
	}
}

p {
	margin-top: 40px;
}

.bold {
	font-weight: bold;
}

#intro {
	text-align: center;
	font-size: large;

	span {
		font-size: larger;
		font-weight: bold;
	}
}

#finances {
	text-align: center;
	font-size: larger;
}

#innopolis {
	@media screen and (min-width: $BR-tablet) {
		float: right;
	}
}
